.holder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

.card {
    width: 90%;
    background-color: #ffffff;
    padding: 16px;
    border-radius: 12px;
    border: 1px solid #f1f1f1;
}
  .loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }