.wrapper {
  display: flex;
  /* gap: 15px; */
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.lowerComponents {
  display: flex;
  gap: 15px;
}

.content {
  width: 100%;
}

.holder {
  width: 95%;
  margin: 0 auto;
}

.search_div {
  width: 93%;
  text-align: center;
  margin: 0 auto;
}

.card {
  width: 93%;
  background-color: #ffffff;
  padding: 16px;
  border-radius: 12px;
  border: 1px solid #f1f1f1;
  margin: 0 auto;
}

.marginWrapper {
  margin: 2% 5%;
}

.selectContainer select {
  /* width: 100%;
    padding: 16px;
    font-size: 16px;
    font-family: 'Expo';
    border: 1px solid #57ad0179;
    border-radius: 4px;
    font-size: 16px; */
  padding: 10px;
  border-radius: 10px;
  border-color: #56ad01 !important;
  cursor: pointer;
  margin-left: 5px;
  outline: none;
}

.selectContainer select option {
  font-size: 16px;
  font-family: "Expo";
}

.selectContainer select:focus {
  border-color: #888;
}

.selectContainer select option:hover,
.selectContainer select option:focus {
  background-color: #f0f0f0;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
}
