@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&family=Noto+Sans+Arabic&display=swap');

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #56AD01; */
    background-color: transparent;
}

.left_nav{
    display: flex;
    align-items: center;
    width: 378px;
    height: 70px;
    gap: 33px;
}
.right_nav{
    display: flex;
    align-items: center; 
    width: 611px;
    height: 50px;
    gap: 38px;
}
.brand{
    width: 219px;
    height: 50px;
    text-align: right;
    line-height: 50px;
    color: #fff;
    font-size: 38px;
    font-weight: 400;
    font-family: 'Fontdiner Swanky', serif;


}
.dropdown a{
    display: flex;
    align-items: center;
    color: #fff;
    
}

.nav_link{
    font-family: 'Expo', sans-serif;
    font-weight: 500;
    /* font-size: 24px; */
    line-height: 50px;
    text-align: right;
    color: #fff;
}

.commincation_button{
    border: 1px solid #fff;
    border-radius: 55px;
    gap: 10px;
    width: 210px;
    background-color: transparent;
    padding: 10px;
    /* color: #fff; */
    transition: .4s;
}
.commincation_button:hover{
    background-color: var(--main-button-color);
    border: 1px solid var(--main-button-color);
}
