@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&family=Noto+Sans+Arabic&display=swap');

.navbar{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* background-color: #56AD01; */
    background-color: transparent;
    display: flex !important;
    align-items: center !important;
    justify-content: center;
}

.left_nav{
    display: flex;
    align-items: center;
    width: 378px;
    height: 70px;
    gap: 33px;
}
.right_nav{
    display: flex;
    align-items: center; 
    width: 611px;
    height: 50px;
    gap: 38px;
}
.brand{
    width: 219px;
    /* height: 50px; */
    text-align: right;
    /* line-height: 50px; */
    color: #56AD01;
    font-size: 50px;
    font-weight: 400;
    font-family: 'Fontdiner Swanky', serif;
    margin-left: 40px;
}
.brand:hover{
    color: #56AD01;
}
.dropdown a{
    display: flex;
    align-items: center;
    color: #000000;
    
}

.nav_link{
    font-family: 'Expo', sans-serif;
    font-weight: 500;
    font-size: 24px;
    /* line-height: 50px; */
    text-align: right;
    color: #000000;
}

.commincation_button{
    border: 1px solid #FF8700;
    border-radius: 55px;
    gap: 10px;
    width: 210px;
    background-color: transparent;
    padding: 10px;
    color: #000000;
    transition: .4s;
}
.commincation_button:hover{
    background-color: var(--main-button-color);
    border: 1px solid var(--main-button-color);
}

@media (max-width: 1100px) {
    .nav_link{
        font-size: 18px;
        text-align: center;
    }
    .dropdown a{
        justify-content: center;
        text-align: center;
        margin: auto;
    }
    .commincation_button{
        margin: auto;
    }
}