.searchInput {
    width: 343px;
    height: 56px;
    padding: 16px;
    display: flex;
    gap: 8px;
    border-radius: 10px;
    background: #fafafa;


    .searchIcon {
        width: 24px;
        height: 24px;
        color: #56AD01;
    }

    .stInput {
        width: 100%;
        outline: none;
        border: none;
        text-align: right;
        background: transparent;
        font-weight: 300;
        font-size: 14px;
        color: black;
    }

    .stInput::placeholder {
        color: #a5a5a5;
    }
}