/* font-family: 'ExpoArabicBook', sans-serif; */
.chachallengs {
    gap: 75px;
    display: flex;
}

a {
    text-decoration: none;
}

.info-stu-res {
    display: block !important;
}

@media (max-width: 991px) {
    .chachallengs {
        display: block;
    }
}

@media (min-width: 991px) {
    .page {
        width: 80%;
    }

    .info-stu-res {
        display: none !important;
    }
}

.page>* {
    margin-bottom: 60px;
}

.revision-content {
    margin-top: 350px;
    text-align: center;
}

.revision-content h1,
.revision-content p {
    color: #353535;
    font-weight: 600;
    font-size: 32px;
    /* line-height: 38.4; */
    text-align: center;
    font-family: 'Expo', sans-serif;
}

.revision-content p span {
    color: var(--main-bg-color);
}

.btn {
    width: 75%;
    background-color: #56AD01;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 24px;
    border-radius: 9px;
    padding: 10px;
    font-family: 'Expo', sans-serif;
    border: none !important;
}

.diraction {
    margin: 20px auto;
    display: block;
    margin-right: 20px;

}

.btn:hover {
    transition: .5s;
    background-color: var(--main-button-color);
    /* color: white; */
}

@media (max-width: 1502px) {
    .btn {
        width: 90%;
        padding: 10px;
        font-family: 'Expo-medium';
        font-weight: 500;
        font-size: 12px;
        border-radius: 8px;
    }

    .revision-content h1,
    .revision-content p {
        color: #353535;
        font-weight: 600;
        font-size: 22px;
        /* line-height: 38.4; */
        text-align: center;
    }
}

.content {
    width: 80%;
    background-color: white;
    border-radius: 7px;
    padding: 10px;
    margin-bottom: 18px;
}

.content h1 {
    color: #17181A;
    font-weight: 700;
    font-size: 24px;
    text-align: right;
    font-family: 'Expo', sans-serif;
}

.content h1 span {
    color: var(--main-bg-color);

}

@media (max-width: 988px) {
    .content {
        width: 100%;
    }
}